@import './theme.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body, #root {
  height: 100%;
}
body {
  font-family: var(--font-family);
  background: var(--color-primary);
  color: #f0f0f0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}
