@import '../theme.css';

.evento-container {
  border: 2px solid var(--color-highlight);
}

.evento-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
}

.evento-card h3 {
  margin-bottom: 0.5rem;
}

.btn-group {
  display: flex;
  gap: 0.5rem;
}

.evento-detail {
  margin-top: 2rem;
  background: var(--color-highlight);
  color: #000;
}
